@{
    Layout = "_Layout";
}

<div ng-controller="BookController as book" ng-init="book.getBooks()">
    <input class="btn btn-primary" type="button" data-toggle="modal" data-target="#bookModal" value="Add book" ng-click="book.addBook()" />

    <table class="table table-hover">
        <thead>
            <tr>
                <th ng-click="book.sort('header')">Header</th>
                <th>Authors</th>
                <th>Page Count</th>
                <th>Publishing house</th>
                <th ng-click="book.sort('publishYear')">Publish year</th>
                <th>ISBN</th>
                <th>Image</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in book.books | orderBy:book.sortPredicateBook:book.reverse">
                <td>{{ item.header }}</td>
                <td><div ng-repeat="author in item.authors"> {{ author.firstName + ' ' + author.secondName }}</div></td>
                <td>{{ item.pageCount }}</td>
                <td>{{ item.publishingHouseName }}</td>
                <td>{{ item.publishYear }}</td>
                <td>{{ item.isbn }}</td>
                <td><img class="book-image" src="data:image/jpeg;base64, {{ item.base64Image.base64 }}" ng-hide="!item.base64Image.base64" /></td>
                <td><input type="button" class="btn btn-primary" data-toggle="modal" data-target="#bookModal" value="E" ng-click="book.editBook(item)" /></td>
            </tr>
        </tbody>
    </table>

    @Html.Partial("bookModal")
</div>