.modal-error{
    color: red;
}

.modal-row{
    margin:10px 0;
    line-height: 30px;
}

.modal-row-description{
    overflow:hidden;
}

.modal-image{
    width:80px;
    height:80px;
    border-radius:5px;
}