.modal-error{
    color: red;
}

.modal-row{
    margin:10px 0;
    line-height: 30px;
}

.modal-row-description{
    overflow:hidden;
}

.modal-image{
    width:40px;
    height:40px;
    border-radius:20px;
}